body {
    font-family: 'Lato', sans-serif;
    color : black;
}
h3 {
	color : black;
}
ul {
  list-style-type: none;
  position: relative;
  margin: 0 0 0 0;
  width: 100%;
  margin-left:-3.8%;
}
li{
	display:inline-block;
}

.image-height-fixer {
	 width: 350px;
    height: 200px;
}
.image-height-fixer  img{
	 width : 100%;
	height: 100%;
	border: 1px solid black;
   
}
a {
	text-decoration: none;
	color : black;
}
a:hover{
	text-decoration: underline;
	color : black;

}
h3 span {
	color: #1696A4;
}
.more-options{
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
.more-options .learn-more{
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
a.compare {
	font-size : 13px;
	font-weight: normal;
	color : gray;
	font-style: normal;
	/*padding-right: 8px;*/
	
}
.text-list {

	margin-left: -3.3%;
	margin-bottom: 20px;

}
a.surveys {
	font-size : 13px;
	font-weight: normal;
	color : gray;
	font-style: normal;
	border-left: 0.5px solid gray;
	padding-left: 10px;
	margin-left: 10px;



}
a.facebook {
	  background-color: #3b5998;

  color: white;
  width: 160px;
  display: block;
  padding: 0 10px;
  color: white;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}
a.facebook i {

  vertical-align: middle;
  font-size: 18px;
  margin-right: 12px;
  /*margin-bottom: 6px;*/

}
a.facebook span {
	line-height: 36px;
	font-size: 13px;
}
a.twitter {
	  background-color: #55acee;
  color: white;
  width: 160px;
  display: block;
  padding: 0 10px;
  color: white;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  margin-left: 10px;
}
a.twitter i {

  vertical-align: middle;
  font-size: 18px;
  margin-right: 12px;
  /*margin-bottom: 6px;*/

}
a.twitter span {
	line-height: 36px;
	font-size: 13px;
}

